@import url("main.css");

a {
	text-decoration: none;
	color: #3e59b2;
}

.team-container {
	max-width: 1000px;
}

.team-container li img {
	display: block;
	margin: 0 auto;
	padding: 0;
}

@media screen and (max-width: 480px) {
	main {
		padding: 0;
	}

	article p {
		padding: 0 30px;
	}

	.team-container ul {
		padding: 56px 0 0 0;
	}

	.team-container li {
		font-size: 24px;
		padding-bottom: 30px;
		width: 48%;
		text-align: center;
		display: inline-block;
	}
}